/* Global override */
html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
	margin:0;
	padding:0;
	list-style: none;
}

html,body{
	height:100%;
	position:relative;
}


#red{
	background-color: red;
	height:50px;
	position:absolute;
	top: 0;
	width: 100%;
}
#yellow{
	background-color: yellow;
	height: 100%;
	width: 33.33%;
	float:left;

}
#green{
	background-color: green;
	height: 100%;
	width: 33.33%;
	float:left;
}

#blue{
	background-color: blue;
	height: 100%;
	width: 33.33%;
	float:left;
}
#purple{
	background-color: purple;
	height: 50px;
	position:absolute;
	bottom:0;
	width:100%;
}

.parent{
	position:absolute;
	top: 50px;
	bottom: 50px;
	width:100%;
}

